<div class="info-card pt-3 keep-all wrap-anywhere zen-kaku-regular swiper-slide !h-auto center-slide-card" id="js-result-<%= result[:uuid] %>">
  <div>
    <h5 class="mb-1 text-3xl text-gray-800 zen-kaku-medium"><%= result[:variable][:name] %></h5>
    <p class="mb-3 text-gray-700"><%= result[:fixed][:address] %></p>
    <div class="justify-center">
      <%= link_to '決定', new_destination_path({destination: result[:variable][:uuid]}),
      class: 'orange-btn px-6 inline-flex py-2 justify-center tracking-widest text-xl zen-kaku-medium' %>
    </div>
  </div>
</div>
