<% content_for(:title, '目的地の条件') %>
<h1 class="headline zen-kaku-medium">目的地の条件</h1>
<div class="basic-card zen-kaku-regular">
  <h1 class="mt-5 pl-2 mb-0.5 text-2xl text-gray-800 tracking-wider zen-kaku-medium">出発地</h1>
  <%= render 'departure', departure_info: @departure_info %>
  <%= render 'form', search_term: @search_term %>
</div>
