<div class="mx-auto md:w-2/3 w-full border-2 rounded-md border-gray-300 shadow-xl p-4">
  <h1 class="text-4xl text-gray-800 tracking-wider zen-kaku-bold">新規登録</h1>
  <%= render 'form', user: @user %>
</div>
