<div class="text-center">
  <div class="p-4 w-full rounded-lg border shadow-md sm:p-8 mt-5 mb-4 font-noto bg-teal-50">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 break-words">
      <%= fa_icon "flag" %>
      <%= destination.name %>
    </h5>
    <p class="mb-2 text-base text-gray-600 sm:text-lg"><%= destination.address %></p>
  </div>
</div>
