<div class="flex flex-row-reverse text-gray-500">
  <div class="p-1" data-action="click->dropdown#openOrClose" data-dropdown-target="openButton">
    <%= fa_icon "chevron-down"%>
  </div>
  <div class="p-1 hidden" data-action="click->dropdown#openOrClose" data-dropdown-target="closeButton">
    <%= fa_icon "chevron-up" %>
  </div>
</div>
