
<div>
  <nav class="dark:bg-gray-800  shadow ">
    <div class="max-w-7xl mx-auto px-4 sm:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="w-full justify-between flex items-center">
          <%= link_to "Today's Course", '#',
          class: 'text-gray-100 block py-2 text-2xl font-extrabold' %>

          <div class="sm:ml-10 flex items-baseline space-x-4">
            <%= link_to 'signup', signup_path,
            class: 'text-gray-300 hover:text-gray-800 dark:hover:text-white sm:px-3 py-2 text-base font-medium' %>

            <%= link_to 'login', login_path,
            class: 'text-gray-300  hover:text-gray-800 dark:hover:text-white sm:px-3 py-2 text-base font-medium' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
