<% if flash? %>
  <% flash.each do |type, messages| %>
    <% if messages.instance_of?(Array) %>
      <% messages.each do |message| %>
        <div  data-controller="toast"
              data-toast-type-value=<%= type %>
              data-toast-message-value=<%= message %>>
        </div>
      <% end %>
    <% else %>
      <div  data-controller="toast"
            data-toast-type-value=<%= type %>
            data-toast-message-value=<%= messages %>>
      </div>
    <% end %>
  <% end %>
<% end %>
