<div class="text-center">
  <div class="p-4 w-full rounded-lg border shadow-md sm:p-8 mb-4 font-noto bg-sky-50">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 break-words"><%= (t'.start') + l(history.start_time, format: :short) %></h5>
    <p class="mb-2 text-base text-gray-600 sm:text-lg"><%= (t'.moving_distance', distance: history.moving_distance) %></p>
  </div>
</div>
