<div class="mt-3 text-gray-800 text-3xl tracking-wider zen-kaku-bold">
  <h5 class="block lg:inline-block">
    <%= 'START: ' + l(history.start_time, format: :short) %>
  </h5>

  <h5 class="block lg:inline-block ml-0 lg:ml-4">
    <%= 'GOAL: ' + l(history.end_time, format: :short) %>
  </h5>

  <% if request.fullpath == history_path(history.uuid) %>
    <div class="mt-3 zen-kaku-regular text-xl underline">
      <%= link_to 'ユーザーページに戻る', profile_path, data: { turbo_frame: '_top' } %>
    </div>
  <% end %>
</div>
