<turbo-stream action="replace" target="goal-button-field">
  <template>
    <div class="p-4 w-full rounded-lg border shadow-md sm:p-8 mb-4 font-noto bg-emerald-50">
      <h5 class="mb-2 text-3xl font-bold text-gray-900 break-words"><%= (t'.goal') + l(@history.end_time, format: :short) %></h5>
      <p class="mb-2 text-base text-gray-600 sm:text-lg"><%= (t'.time', time:((@history.end_time - @history.start_time) / 60).to_i.to_s) %></p>
    </div>

    <%= link_to 'ユーザーページに戻る', '#',
    class: 'w-full sm:w-2/5 bg-orange-600 text-white rounded-lg inline-flex items-center justify-center px-4 py-3.5 font-semibold drop-shadow-lg mb-8 mt-4 sm:mt-0 sm:ml-2' %>
  </template>
</turbo-stream>
