<% content_for(:title, '保存済み出発地/目的地') %>

<h1 class="headline zen-kaku-medium">保存済み</h1>
<div class="tabs">
  <input id="left" type="radio" name="tab-radio-button" checked>
  <label class="tab-item w-1/2 zen-kaku-medium text-xl tracking-widest" for="left">
    <%= fa_icon 'home', class: 'text-2xl' %>
    出発地
  </label>

  <input id="right" type="radio" name="tab-radio-button">
  <label class="tab-item w-1/2 zen-kaku-medium text-xl tracking-widest" for="right">
    <%= fa_icon 'flag', class: 'text-2xl' %>
    目的地
  </label>

  <div class="tab-content" id="left-content">
    <%# render 'form', departure_form: @departure_form %>
  </div>

  <div class="tab-content relative" id="right-content">
    <%# render 'form', departure_form: @departure_form %>
</div>
