<% Settings.turbo_frame_for_check_session.each do |id| %>
  <%= turbo_frame_tag id do %>
    <%= render 'shared/toast' %>

    <div class="text-center">
      <%= link_to '設定ページへ', url,
      data: {turbo: false},
      class: 'orange-btn tracking-widest text-xl px-12 py-3 zen-kaku-medium block sm:inline-block ' %>
    </div>
  <% end %>
<% end %>
