---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=&key=<GoogleApiKey>&language=ja&region=JP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "Invalid request. Missing the 'address', 'components', 'latlng' or 'place_id' parameter.",
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 28 Mar 2023 09:55:16 GMT
recorded_with: VCR 6.1.0
