<% content_for(:title, '目的地詳細') %>

<div id="map"></div>

<%= turbo_frame_tag 'record-field', data: { turbo_action: :advance } do %>
  <div id="js-input-area">
    <p class='zen-kaku-regular text-xl tracking-wider' id='js-show-distance'></p>
    <div id="destination-form">
      <%= render 'form', {destination_form: @destination_form, result: @result} %>
    </div>
  </div>
<% end %>

<%= include_gon %>
<%= javascript_include_tag Settings.google.map_url + 'callback=showRoute', defer: 'defer' %>
