/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.zen-kaku-light {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 300;
}

.zen-kaku-regular {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
}

.zen-kaku-medium {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
}

.zen-kaku-bold {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 700;
}

.keep-all {
  word-break: keep-all;
}

.nav-child-width {
  width: 32.5%;
  height: 8vh;
}

.nav-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh !important;
}

.nav-icon-search {
  top: 50%;
}

.nav-icon-folder {
  top: 58%;
}

.nav-icon-user {
  top: 55%;
}

.swiper-pagination-bullet-active {
  background-color: #0891b2 !important;
}
