/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

#map {
  height: 82vh;
  border: ridge 16px #cccccc;
}

.menu {
  height: 50vh;
}

.menu-child {
  position: relative;
  margin: 0 auto;
  height: 90%;
  width: 95%;
  border-radius: 16px;
  text-align: center;
  border: outset 8px #3ba1bd;
}

.button-in-menu {
  height: 100%;
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  color: #f9fafb;
  position: relative;
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-description {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 18px;
}

.font-noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.under {
  background: linear-gradient(transparent 50%, #fb923c 150%);
  width: 96%;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-border {
  border-bottom: solid 4px #124e61;
}

.left-5per {
  margin-left: 5%;
}

.dropdown-icon {
  position: absolute;
  right: 0%;
}

.nav-child-width {
  width: 32.5%;
  height: 8vh;
}

.nav-icon_search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 5vh !important;
}

.nav-icon_folder {
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 5vh !important;
}

.nav-icon_user {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 5vh !important;
}

.bottom-5-minus {
  bottom: -5px;
}
