<div class="info-card pt-3 keep-all wrap-anywhere zen-kaku-regular swiper-slide !h-auto center-slide-card" id="js-result-<%= result[:variable][:uuid] %>">
  <div>
    <h5 class="mb-1 text-2xl lg:text-3xl text-gray-800 zen-kaku-medium tracking-tighter"><%= result[:variable][:name] %></h5>
    <p class="mb-3 text-gray-700 tracking-tighter"><%= result[:fixed][:address] %></p>
  </div>
</div>
