<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t '.title' %></h1>

  <% if @error_message %>
    <h2 class="text-red-600 font-medium mt-5"><%= @error_message %></h2>
  <% end %>

  <%= render "form" %>
</div>
